:root {
	--azul:#252839;
	--gris:#677077;
	--grisClaro:#F3F3F3;
	--amarillo:#f2b632;
	--blanco:#fff;
  --fonttitulos: 'Oswald', sans-serif;
  --morado: rgb(94, 23, 235);
}

.redes{
  background-color: var(--amarillo);
  border-radius: 2rem;
 
}

.redes-sociales{
	flex-direction:row;
  justify-content: flex-end;
  padding: 0.5rem 0rem;
}

.redes-sociales a{
	padding-left: 0.5rem;
  padding-right: 0.5rem;
  
}

.redes-sociales img{
	transition:all .3s ease-in;
}

.redes-sociales img:hover{
	background-color:  var(--morado);

}

.titulosh1{
	color: var(--blanco);
  font-size: 3rem;
  font-weight: bold;
}


.titulosSection{
	color: var(--amarillo);
  font-size: 3rem;
  font-weight: bold;
}

.subtitulosSection{
	font-family: var(--fonttitulos);
	display: inline-block;
	/* max-width: 560px; */
	font-size: 1.2rem;
}

.bg-amarillo{
	background-color: var(--amarillo);
}


.no-gutters .informacionDj{
	padding: 3rem 2rem;
}

.informacionDj__header{
	border-bottom: 5px solid var(--blanco);
	padding-bottom: 1rem;
}

.bg-azul {
  background-color: var(--azul);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: none!important;
  left: none!important;
  z-index: 1030;
}

@media (min-width: 310px) {
  .titulosh1 {
    font-size: 2rem;
}
  .titulosSection {
    color: var(--amarillo);
    font-size: 2rem;
    font-weight: bold;
}

  h2 { font-size: 2.0rem; }
  .u-flowText { font-size: 1.0rem; }
}


@media screen and (min-width: 768px){
	.titulosSection{
		font-size: 3rem;
  }
  
  .titulosh1 {
    font-size: 3rem;
}
	.no-gutters .informacionDj{
		padding: 1rem 4rem;
	}
}