:root {
	--azul:#252839;
	--gris:#677077;
	--grisClaro:#F3F3F3;
	--amarillo:#f2b632;
	--blanco:#fff;
	--fontbody: 'Quattrocento', serif;
  --fonttitulos: 'Oswald', sans-serif;
  --morado: rgb(94, 23, 235);
}

.redes{
  background-color: var(--amarillo);
  border-radius: 2rem;
 
}

.redes-sociales{
	flex-direction:row;
  justify-content: flex-end;
  padding: 0.5rem 0rem;
}

.redes-sociales a{
	padding-left: 0.5rem;
  padding-right: 0.5rem;
  
}

.redes-sociales img{
	transition:all .3s ease-in;
}

.redes-sociales img:hover{
	background-color:  var(--morado);

}

.titulosh1{
	color: var(--blanco);
  font-size: 3rem;
  font-weight: bold;
}


.titulosSection{
	color: var(--amarillo);
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (min-width: 768px){
	.titulosSection{
		font-size: 3rem;
	}
}

.subtitulosSection{
	font-family: var(--fonttitulos);
	display: inline-block;
	max-width: 560px;
	font-size: 1.2rem;
}

.bg-amarillo{
	background-color: var(--amarillo);
}
